*{
margin: 0 auto;
padding: 0%;

}

 .navbar{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1%;
 }


.bannerImg{
    width: 105%;
    margin: 0px;
    padding: 0px; 
    margin-right: 0px;  
    
} 

.rioLogo{
   margin-right: 3%;
   width: 8vw;
   background-color: rgb(255, 255, 255); 
}

.rioImg{
   
   width: 100%;
  
}

.menu{
   padding: 0%;
   background-color: black;
   width: 90%;
   height: 2%;
   left: 2%;
   font-family: 'Righteous';
   font-size: 2vw;;
   margin-top: 3vh;
   margin-left: 2vh;
}

.menu li a{
   text-decoration: none;
   color:#ffffff ;
   padding: 20px;
   display: block;
   padding-top: 15%;
}

.menu li{
   display: inline-block;
   text-align: center;
}


.parrafoPrincipal{
   width: 100vw;
   display: flex;
   margin-right: 2vw;
   padding: 2% 0% 0%;
 }

 .positionParagraph{
   margin-left: 4%;
 }

 .firstParagraph{
   font-family: 'Righteous';
   font-size: 2vw;    
 }
 .firtImg{
   margin-right: -0.7%;
   padding-top: 5%;
 }
 .athletesImg{
   width: 28vw;  
}
.logoPosition{
   padding-top: 26%;
   padding-left: 4%;
}
 .logoImg{
   width: 9%;
 }


.secondElement{
   display: flex;
   flex-direction: column;
   /* background-color: bisque; */
   padding-left: 1.8%;
   justify-content: flex-start;
}

 .linePosition{
    padding-bottom: 2%;
   
 }
 .lineStyle{
   height: 0.8vh;
   background-color:  black;
   width: 98vw;
   border: none;
 }
 .eventDatePosition{
    
   margin-left: -0.1%;
  padding-bottom: 1%;
}

 .eventDates{
   font-family:'Righteous';
   font-size: 1vw;
  
}

/*fin area bienvenida*/

.filterGroup{
   display: flex;
   flex-direction: column;
   padding-right: 10%;
   padding-top: 15%;
   margin-left: 80%;

}



.sport{

   width: 150px;
   height: 50px;
   background: #EB6062;

}


.iniciarFiltrado {
   display: flex;
   flex-direction: column;
   padding-left: 1.8%;
   justify-content: left;
}

.invitationPosition{
   margin-left: -0.1%;
   padding-bottom: 1%; 
}

.filtrarAhora{
   font-family:'Righteous';
   font-size: 1.5vw;
}

.inputSearch{
   margin-left: -0.1%;
   padding-bottom: 1%; 
}

#search{
   font-family:'Righteous';
   font-size: 1vw;
}
/*filtros*/

.optionFiler {
   border-radius: 4px;
   background-color: var(--color-background-nav);
   color: var(--color-size);
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   /* cursor: pointer; */
   padding: 20px;
   /* position: relative; */
 }
 
 .optionFiler .fa-chevron-down {
   margin-left: 10px;
 }
 
 .optionFiler ul {
   border-radius: 4px;
   background-color: #EB6062;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   /* display: none; */
   padding: 0px;
   /* position: absolute; */
   top: 80%;
   left: 0;
   list-style-type: none;
   width: 100%;
 }
 
 .optionFiler.open ul {
   /* display: block; */
 }
 
 .optionFiler ul li {
   margin: 5px 0;
   padding-left: 20px;
 }






/*fin clase filtros*/

.positionContainer{
   height: 100vh;
   width: 70%;
   padding: 1% ;
   overflow: scroll;
   border: 2px solid #F7BC57;
   border-radius: 15px;

}

.containerAthletes{
  width: cover;
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  
  /* padding-left: 7%; */
  
  
}

.card{
   background-color: rgba(179, 79, 79, 0.26);
   width: 17vw;
   height: 30vh;
   border: 2px solid #4CAF50;
   /* padding: 15px 11px; */
   border-radius: 15px;
   text-align: center;
   
}
.footer {
   background-color: rgb(238, 66, 66);
   text-align: center;
   color: rgb(223, 219, 219);
   margin-top: 1rem;
   padding: 1rem;
}