*{
margin: 0 auto;
padding: 0%;

}

 .navbar{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1%;
 }


.bannerImg{
    width: 105%;
    margin: 0px;
    padding: 0px; 
    margin-right: 0px;  
    
} 

.rioLogo{
   margin-right: 3%;
   width: 8vw;
   background-color: rgb(255, 255, 255); 
}

.rioImg{
   
   width: 100%;
  
}

.menu{
   padding: 0%;
   background-color: black;
   width: 90%;
   height: 2%;
   left: 2%;
   font-family: 'Righteous';
   font-size: 2vw;;
   margin-top: 3vh;
   margin-left: 2vh;
}

.menu li a{
   text-decoration: none;
   color:#ffffff ;
   padding: 20px;
   display: block;
   padding-top: 15%;
}

.menu li{
   display: inline-block;
   text-align: center;
}


.parrafoPrincipal{
   width: 100vw;
   display: flex;
   margin-right: 2vw;
   padding: 2% 0% 0%;
 }

 .positionParagraph{
   margin-left: 4%;
 }

 .firstParagraph{
   font-family: 'Righteous';
   font-size: 2vw;    
 }
 .firtImg{
   margin-right: -0.7%;
   padding-top: 5%;
 }
 .athletesImg{
   width: 28vw;  
}
.logoPosition{
   padding-top: 26%;
   padding-left: 4%;
}
 .logoImg{
   width: 9%;
 }


.secondElement{
   display: flex;
   flex-direction: column;
   /* background-color: bisque; */
   padding-left: 1.8%;
   justify-content: flex-start;
}

 .linePosition{
    padding-bottom: 2%;
   
 }
 .lineStyle{
   height: 0.8vh;
   background-color:  black;
   width: 98vw;
   border: none;
 }
 .eventDatePosition{
    
   margin-left: -0.1%;
  padding-bottom: 1%;
}

 .eventDates{
   font-family:'Righteous';
   font-size: 1vw;
  
}

/*fin area bienvenida*/








.iniciarFiltrado {
   display: flex;
   flex-direction: column;
   padding-left: 1.8%;
   justify-content: left;
}

.invitationPosition{
   margin-left: -0.1%;
   padding-bottom: 1%; 
}

.filtrarAhora{
   font-family:'Righteous';
   font-size: 1.5vw;
}

.inputSearch{
   margin-left: -0.1%;
   padding-bottom: 1%; 
}

#search{
   font-family:'Righteous';
   font-size: 1vw;
}
/*filtros*/

.sort{
   font-family:'Righteous';
   font-size: 1vw;
}






/*fin clase filtros*/

/* class= 'filter area' estilo al contenedor que contiene los atletas y filtro */

.filterArea{
   display: flex;
}

.filterGroup{
   display: flex;
   flex-direction: column;
   padding-right: 10%;
   margin-top: 5%;

}

.positionContainer{
   height: 100vh;
   width: 70%;
   padding: 1% ;
   overflow: scroll;
   border: 2px solid #F7BC57;
   border-radius: 15px;
   margin-left: 2%;
   margin-top: 5%;

}



.containerAthletes{
  width: cover;
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card{
   background-color: rgba(179, 79, 79, 0.26);
   width: 17vw;
   height: 30vh;
   border: 2px solid #4CAF50;
   border-radius: 15px;
   text-align: center;
}

/* footer{
   background: #EB6062;
   color: #ffffff;
   font-family:'Righteous';
   font-size: 1vw;
   width: 100%;
   margin-right: 0px; 
   margin-left: 0px;
   padding-top: 1%;
   height: 10vh;
}

.containerFooter{
   display: flex;
   justify-content: space-between;
   text-justify: distribute;
}
.column1{
   height: 20vh;
   width: 9%;
}

.antorchaImg{
   width: 40%
}
 */

 .footer {
   background-color: rgb(238, 66, 66);
   text-align: center;
   color: rgb(223, 219, 219);
 
   /* padding-top: 1%; */
   font-family:'Righteous';
   font-size: 1vw;
   display: flex;
   padding-top: 30px;
   padding-right: 0px;
   padding-left: 15px;
}

.antorchaImg{
   width: 3vw;
   margin-left: -1%;

}


